* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    gap: 3rem;
}

h1 {
    color: rgb(58, 58, 249);
    font-size: 2em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    width: 25rem;
    height: 28rem;
    border: 1px solid rgb(167, 167, 252);;
    border-radius: 10px;
    padding: 3rem 2rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.signIn-span { 
    font-size: 1.3em;
    font-weight: 450;
}

#signIn-email, #signIn-pwd {
    padding: 0.5rem;
    width: 20rem;
    border: 1px solid rgb(164, 161, 161);
    border-radius: 10px;
}

.pwd-info{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 0.5rem;
}

#signIn-btn {
    border: none;
    border-radius: 25px;
    background-color: rgb(58, 58, 249);
    color: white;
    font-size: 18px;
    padding: 0.75rem 1.75rem;
    transition: 0.3s ease;
    cursor: pointer;
    margin-top: 2rem;
}

#signIn-btn:hover {
    transform: scale(1.1);
    background-color:rgb(51, 51, 222);
}

#signUp-reminder {
    text-align: center;
    font-size: 1.1em;
}

a {
    color:rgb(58, 58, 249);
    margin-left: 0.3rem;
    cursor: pointer;
}

a:hover {
    color: rgb(51, 51, 222);
}